:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-base: #7fff7a;
  --color-accent: #3f7e3d;
  --color-gray: #bebebe;

  --color-blue: #1f75fe;
  --color-red: #d80000;

  --font-family-base: "Montserrat", sans-serif;

  --border: 1px solid var(--color-black);
  --border-radius: 8px;

  --transition-duration: 0.2s;
}
