:root {
  --color-white: #ffffff;
  --color-black: #000000;
  --color-pastel-1: #ff9baa;
  --color-pastel-2: #a8e4a0;
  --color-pastel-3: #afdafc;
  --color-pastel-4: #ccccff;
  --color-pastel-5: #efa94a;
  --color-pastel-6: #71bc78;
  --color-gray: #bebebe;

  --color-blue: #1f75fe;
  --color-red: #d80000;

  --font-family-base: "Montserrat", sans-serif;

  --border: 1px solid var(--color-black);
  --border-radius: 12px;

  --transition-duration: 0.2s;
}
