.button {
  color: var(--color-white);
  background-color: var(--color-black);
  font-weight: bold;
  border: var(--border);
  border-radius: var(--border-radius);

  &:not(:disabled) {
    &:hover {
      background-color: var(--color-white);
      color: var(--color-black);
    }
  }

  &:disabled {
    background-color: var(--color-gray);
    cursor: not-allowed;
  }
}
