.field {
  &__input {
    width: 100%;
    min-height: 50px;
    background-color: var(--color-white);
    color: var(--color-black);
    padding-left: 10px;
    text-wrap: wrap;
    border: var(--border);
    border-radius: var(--border-radius);
  }

  &__label {
    font-weight: bold;
  }

  &__error {
    font-size: 14px;
    color: var(--color-red);
  }

  .is-invalid {
    color: var(--color-red);
    border-color: var(--color-red);
  }
}
