.todo-item {
  background-color: var(--color-surface);
  box-shadow: 2px 2px var(--color-shadow);

  &__checkbox {
    appearance: none;
    width: 20px;
    height: 20px;
    justify-self: center;
    align-self: center;
    border: var(--border);
    border-radius: var(--border-radius);
    border-color: var(--color-disabled);
    cursor: pointer;

    &:checked {
      background: var(--color-primary-700)
        url("../assets/icons/check.svg") no-repeat center / contain;
      color: var(--color-white);
      border-color: none;
    }
  }

  &__edit-form {
  }

  &__label {
    min-height: 50px;
    display: flex;
    align-items: center;
    color: var(--color-on-surface);
    border: 1px solid transparent;
    border-radius: var(--border-radius);
    overflow: hidden;
    text-wrap: wrap;
    word-break: break-word;

    &.completed {
      text-decoration: line-through;
      color: var(--color-disabled);
    }
  }

  &__field-edit {
  }

  &.is-Disappearing {
    opacity: 0;
    translate: 0 -75%;
    transition-duration: calc(var(--transition-duration) * 2);
    pointer-events: none;

    & ~ .todo-item {
      translate: 0 calc((100% + 10px) * -1);
      transition-delay: var(--transition-duration);
      transition-duration: var(--transition-duration);
      pointer-events: none;
    }
  }
}
