.todo {
  font-family: var(--font-family-base);
  background-color: var(--color-white);
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  row-gap: 24px;

  &__title {
    text-align: center;
    color: var(--color-black);
  }

  &__form {
    width: 500px;
    height: 50px;
    display: grid;
    grid-template-columns: 80% 1fr;
    column-gap: 10px;
  }

  &__button-add {
    max-height: 50px;
    background-color: var(--color-black);
  }

  &__menu {
    &-list {
      display: flex;
      justify-content: space-between;
    }

    &-item {
      text-align: center;
    }

    &-link {
      color: var(--color-black);
      font-size: 20px;
      font-weight: bold;
      text-decoration: none;
      border: 1px solid transparent;
      border-radius: var(--border-radius);
      cursor: pointer;

      &.is-active {
        text-decoration: underline;
      }
    }
  }

  &__list {
    width: 500px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }

  &__item {
    width: 100%;
    height: auto;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    grid-template-columns: 20px 70% 50px 50px;
    align-items: center;
    justify-content: space-between;
    border: var(--border);
    border-radius: var(--border-radius);

    &-button-edit,
    &-button-delete,
    &-button-admit,
    &-button-close {
      width: 50px;
      height: 50px;
      padding: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      &:hover {
        background-color: var(--color-white);
        color: var(--color-black);
      }
    }

    &:nth-child(1n) {
      background-color: var(--color-pastel-1);
    }

    &:nth-child(2n) {
      background-color: var(--color-pastel-2);
    }

    &:nth-child(3n) {
      background-color: var(--color-pastel-3);
    }

    &:nth-child(4n) {
      background-color: var(--color-pastel-4);
    }

    &:nth-child(5n) {
      background-color: var(--color-pastel-5);
    }

    &:nth-child(6n) {
      background-color: var(--color-pastel-6);
    }

    &-icon {
      width: 24px;
      height: 24px;
      display: block;
    }
  }

  &__empty {
    width: 100%;
    height: 240px;
    background-color: var(--color-pastel-1);
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: var(--border);
    border-radius: var(--border-radius);

    &-message {
      font-weight: bold;
      font-size: 20px;
    }

    &-icon {
      width: 100px;
      height: 100px;
      color: var(--color-black);
    }
  }
}
